//
// Define global styles for the application,
// usually html and body content.
//

html,
body {
  $font-size: 16px;

  font-family: OpenSans;
  font-size: $font-size * .65;
  height: 100%;
  width: 100%;


  @media screen and (min-width: get-media(s)) {
    font-size: $font-size * .8;
  }

  @media screen and (min-width: get-media(m)) {
    font-size: $font-size;
  }
}

#app {
  height: 100%;
  justify-content: center;
  text-align: center;
  background-color: #2E323E;
  display: flex;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
